* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
}

.redes a {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
}

.navbar {
  background-color: #005085;
  font-size: 16px;
  text-shadow: 2px 2px 5px #000;
  padding: 10px;
}
.navbar-brand {
  text-shadow: 2px 10px 10px #000;
  font-size: 24px;
}
.navbar-toggler {
  font-size: 16px;
}
.navbar-nav .nav-link {
  font-size: 17px;
}

main {
  background-image: url(../resources/stone-texture.jpg);
  background-size: cover;
  background-position: left;
}

.mainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.mainer .textovid {
  max-width: 100%;
  padding: 20px;
}
.mainer .textovid p {
  font-size: 16px;
}
.mainer .videores {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.nright {
  width: 100%;
  font-size: 20px;
}
.nright h1, .nright h2, .nright h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.nright p, .nright ul li {
  padding: 15px;
}

.ventajas {
  margin: 20px;
  font-size: 20px;
  text-align: center;
}

footer {
  color: #ffffff;
  background-color: #005085;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.newsletter {
  color: #ffffff;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
}
.newsletter p {
  font-size: 20px;
  color: #ffffff;
}

#contacto .logo-qr {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
#contacto form {
  display: grid;
  gap: 20px;
  padding: 20px;
}
#contacto form input[type=text],
#contacto form input[type=email] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#contacto .buttons {
  display: flex;
  justify-content: space-between;
}
#contacto .buttons button[type=submit] {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background-color: #5bb95e;
}
#contacto .buttons button[type=reset] {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background-color: #d35047;
}

#nosotros div {
  width: 45%;
}
#nosotros h1, #nosotros h2 {
  color: #000;
  font-family: Arial, sans-serif;
}
#nosotros p {
  color: #555555;
  font-family: "Times New Roman", Times, serif;
}
#nosotros .fa-brands {
  color: #005085;
  margin-right: 10px;
}
#nosotros .fa-solid {
  color: #5bb95e;
}
#nosotros iframe {
  width: 100%;
  height: 100%;
}

#servicios div {
  border: 1px solid #000;
  padding: 10px;
  margin: 10px;
}
#servicios div p {
  font-size: 18px;
  color: #555555;
}
#servicios div img {
  border-radius: 8px;
}

.masinfo {
  height: 60px;
  width: 210px;
  background-color: #005085;
  text-decoration: none;
  color: #ffffff;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 17px;
  line-height: 60px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 0 5px 4px #000;
}

@media only screen and (min-width: 771px) and (max-width: 1000px) {
  .mainer .videores {
    height: 400px;
  }
  .nright h1, .nright h2, .nright h3 {
    font-size: 24px;
  }
  .nright p, .nright ul li {
    font-size: 18px;
  }
  .ventajas {
    font-size: 20px;
  }
  .redes a {
    font-size: 24px;
  }
  .navbar-brand {
    font-size: 29px;
  }
  .navbar-toggler {
    font-size: 19px;
  }
  .navbar-nav .nav-link {
    font-size: 21px;
  }
  .logo-qr {
    justify-content: space-between;
  }
  form div {
    flex-direction: row;
    align-items: center;
  }
  .newsletter input[type=email] {
    width: 60%;
  }
  footer p {
    font-size: 16px;
  }
  #servicios div {
    text-align: left;
  }
  #servicios img {
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 770px) {
  .mainer .videores {
    height: 300px;
  }
  .mainer .textovid {
    text-align: center;
  }
  .nright h1, .nright h2, .nright h3 {
    font-size: 20px;
  }
  .nright p, .nright ul li {
    font-size: 16px;
  }
  .ventajas {
    font-size: 16px;
  }
  .redes a {
    font-size: 18px;
  }
  .navbar-brand {
    font-size: 24px;
  }
  .navbar-toggler {
    font-size: 16px;
  }
  .navbar-nav .nav-link {
    font-size: 17px;
  }
  .logo-qr {
    justify-content: space-around;
  }
  form div {
    flex-direction: row;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */